body {
  background-image: url(https://media.istockphoto.com/photos/hexagonal-honeycomb-abstract-3d-background-picture-id905438692?b=1&k=20&m=905438692&s=170667a&w=0&h=pTjmS2z305vjoU2j-yWgUwEK_mdK-F8IH5yGtVsbDAY=);
  font-family: 'Inter', sans-serif;
}

button {
  font-family: 'Inter', sans-serif;
  margin-top: 3px;
  cursor: pointer;
}

.github {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 30px;
}

h1 {
  background-color: black;
  border-radius: 20px;
  margin-left: 270px;
  margin-right: 270px;
  color: aliceblue;
}

.delay-select {
  font-family: 'Inter', sans-serif;
  margin-top: 3px;
}

.App {
  padding-right: 40px;
  padding-left: 40px;
}

.content {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  position: relative;
  min-height: 450px;
  width: 100%;
  margin: 10px;
}

.controls {
  background-color: black;
  border-top: 2px solid black;
  border-radius: 0 0 10px 10px;
  height: 30px;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.graph {
  position: relative;
  text-align: center;
}

.bar {
  width: 2px;
  background-color: cadetblue;
  display: inline-block;
  margin: 20px 1px 5px 1px;
}


