

.graph {
  position: relative;
  text-align: center;
}

.bar {
  width: 2px;
  background-color: turquoise;
  display: inline-block;
  margin: 60px 1px 5px 1px;
}

.controls {
  background-color: salmon;
}