body {
  background-color: beige;
  font-family: 'Inter', sans-serif;
}

button {
  font-family: 'Inter', sans-serif;
  margin-top: 3px;
}

h1 {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-left: 270px;
  margin-right: 270px;
  color: aliceblue;
}

.delay-select {
  font-family: 'Inter', sans-serif;
  margin-top: 3px;
}

.App {
  padding-right: 40px;
  padding-left: 40px;
}

.content {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  position: relative;
  min-height: 450px;
  width: 100%;
  margin: 10px;
}

.controls {
  background-color: salmon;
  border-top: 2px solid black;
  border-radius: 0 0 10px 10px;
  height: 30px;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.graph {
  position: relative;
  text-align: center;
}

.bar {
  width: 2px;
  background-color: cadetblue;
  display: inline-block;
  margin: 20px 1px 5px 1px;
}


